# put this in your ~/.wakatime.cfg file

[settings]
api_url = https://hackatime.hackclub.com/api/hackatime/v1
api_key = fe168f37-9b5c-4a12-83c1-be21b6d7ff75
heartbeat_rate_limit_seconds = 30

# any other wakatime configs you want to add: https://github.com/wakatime/wakatime-cli/blob/develop/USAGE.md#ini-config-file
